.footer
{
    position: absolute;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    padding: 1rem;
    background-color: gray;
    bottom: auto;
    left: 0;
    width: 98%;
    justify-content: flex-start;
   
}

.ftukim{
    display: flex;
    justify-content: flex-start;
}

.ftfeit{
    display: flex;
    justify-content: flex-end;
}