/* https://codesandbox.io/s/rmjzojw4lq?file=/src/App.css} */

  .Dashboard{
  position:absolute;
}

  
  #sidebar.active {
    margin-left: -250px;
  }
  
  
  /*
      ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
  */
  

  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  #sidebar {
    min-width: 100%;
    max-width: 100%;
    min-height: 86vh;
    background: #202020;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    margin-left:14px;
  }
  
  #sidebar .sidebar-header {
    padding: 20px;
    background: rgb(212, 53, 53);
    border: 1px solid transparent;
    border-color: #e7e7e7;
    border-width: 0 0 1px;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
    border: 1px solid transparent;
    border-color: #e7e7e7;
    border-width: 0 0 1px;
  }
  
  #sidebar ul p {
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  #sidebar ul li a:hover {
    color: #000;
    background: #fff;
  }
  
  #sidebar ul li.active > a,
  a[aria-expanded="true"] {
    color: #fff;
    background: #a3a3a3;
  }
  
  #sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #a3a3a3;
  }
  
  .profilepic{
    margin-left: 15px;
    margin-right: 0px;
    max-width: 14rem;
}